<h1>Search Results</h1>


<% if @projects %>

  <ul>
  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
  </ul>

  <h4>#add volunteer finder</h4>
# <% elsif @vs %>

#   <ul>
#   <% @artists.each do |artist| %>
#     <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
#   <% end %>
#   </ul>
<% else %>
  <p>There are currently no matches to display.</p>
<% end %>